body > #bg-color {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    clip-path: polygon(25% 0%, 100% 0, 100% 50%, 0 100%, 0 100%, 0 0);
    position: absolute;
    z-index: -1;
}

.display-3 {
    color: white;
    font-family: 'Major Mono Display', cursive;
    text-align: center;
    border: solid white 3px;
    
}

h1 {
    font-family: 'Major Mono Display', cursive;
    color: white;
}

.card-body {
overflow: auto;
clear: both;
float: right;
    
}

.fas {
    color: lightblue;

}

.card-title {
    color: white;
    background: lightblue;
    font-family: 'Major Mono Display'
}

.btn.btn-primary {
    background: lightblue;
    border: white;
}