body > #bg-color {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    position: absolute;
    z-index: -1;
    background-image: url("https://pm1.narvii.com/6436/e733c4bd0e989649e85b166a7a807e94b0e05055_hq.jpg");
    background-size: cover;
    -webkit-filter: blur(2px);
}

 .display-3 {
    color: black;
    font-family: 'Major Mono Display', cursive;
    text-align: center;
    border: solid black 3px; 
    
}

h1 {
    
    color: gray
}

.card-body {
overflow: auto;
clear: both;
float: left;
background: gray;

    
}

.fas {
    color: lightblue;

}

.card-title {
    color: black;
    background: transparent;
    font-family: 'Major Mono Display';
}

.btn.btn-primary {
    background: transparent;
    border: black;
}

.row{
   justify-content: center;
}

#currentDate {
    font-family: 'Major Mono Display';
    align-items: center;
    float:right;
    border: solid black;
    padding-bottom: 10px;
    width: 70%;
    margin-left: 20px;
    color: black;
   


}

.future-day {
    border: solid black;;
    padding-right: 20px;
    margin: 20px;
}

.green {
    background-color: green;
    border: solid 2px gray;
    width: 70px;
}

.yellow {
    background-color: yellow;
    border: solid 2px gray;
}

.red {
  background-color: red;
  border: solid 2px gray;
}

#forecast {
    align-items: center;
    float: right
}
